@model Demo.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-center">List of Employees</h1>
        @Html.Partial("_EmployeesGridViewPartial", Model)
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        const toastType = '@TempData["ToastType"]', toastMessage = '@TempData["ToastMessage"]';
        DisplayToastMessage(toastType, toastMessage);

        function onEmployeesGridViewToolbarItemClick(s, e) {
            switch (e.item.name) {
                case 'EmployeesGridViewToolbarButtonCreateEmployee':
                    location.href = '/Home/CreateEmployee';
                    break;
            }
        }
    </script>
}
